In [ ]:
#We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
#In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. 
#To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. 
#Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [ ]:
#Our hypothesis
#H0: the new machine is faster

In [1]:
import pandas as pd
import numpy as np
import math as m
import scipy.stats as stats

In [5]:
data = pd.read_csv(r'C:\Users\a_del\Downloads\machine.txt', sep = '\t', encoding='utf-16')

In [7]:
print(data.head())

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [10]:
print(data.columns)

Index(['New machine', 'Old machine'], dtype='object')

In [11]:
data.rename(columns = {'    Old machine':'Old machine'}, inplace = True) #removing the space before the column name

In [12]:
print(data.columns)

Index(['New machine', 'Old machine'], dtype='object')

In [13]:
data.describe()

       New machine  Old machine
count    10.000000    10.000000
mean     42.140000    43.230000
std       0.683455     0.749889
min      41.000000    41.700000
25%      41.800000    42.800000
50%      42.200000    43.400000
75%      42.625000    43.750000
max      43.200000    44.100000

In [ ]:
#the mean and standard deviation for the new machine is smaller than the ones from the old one

In [ ]:
#starting the t test

In [15]:
from scipy.stats import ttest_ind, norm

In [23]:
ttest_ind(data['New machine'], data['Old machine'])

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

In [ ]:
p-value vs Evidence against H0

p>0.10 --> H0Weak or no evidence
0.05<p≤0.10 --> Moderate evidence
0.01<p≤0.05 --> Strong evidence
p≤0.01 --> Very strong evidence #since the p=0.032 the new machine is faster